<!--Links-->
<link href="/admin/vendor/jqvmap/css/jqvmap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/admin/vendor/chartist/css/chartist.min.css">
<link href="/admin/vendor/bootstrap-select/dist/css/bootstrap-select.min.css" rel="stylesheet">
<link href="/admin/css/dash-style.css" rel="stylesheet">
<link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">

<!-- Favicon icon -->
<link rel="icon" type="image/png" sizes="16x16" href="/admin/images/logo.png">
<!--title-->
<title>Chickoz</title>